* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
}
.nav-item {
    margin-right: 2rem;
    color: black;
}
.nav-item:first-child {
   margin-right: auto;
   margin-left: 2rem;
}
.container {
    background: black;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.box {
    background-color: red;
    height: 150px;
    width: 150px;
}

