* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;

}

.background {
  
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('img/image1.jpg');
  background-size: cover;
  width: 100%;
  height: 900px;
}

.topnav {
    justify-content: space-between;
    display: flex;
    justify-items: center;
    background-color: black;
    height: 45px;
    border-bottom: 1px solid grey;
    align-items: center;
}

.leftNavbar, .rightNavbar {
    display: flex; 
}

.topnav li, .bottomnav li  {
    list-style-type: none;
    margin: 0 10px 0 10px;
    border-right: 1px solid grey;
    padding-right: 10px;
}

.borderbar {
    border-left: 1px solid grey;
    padding-left: 10px;
}

.topnav li a {
    text-decoration: none;
    color: grey;
    font-size: 12px;

    
}

.bottomnav {
    justify-content: space-between;
    display: flex;
    justify-items: center;
    background-color: black;
    height: 75px;
    border-bottom: 1px solid grey;
    align-items: center;
    opacity: 0.5;
    position: sticky;
    top: 0;
}

.leftBottomNavbar, .rightBottomNavbar {
    display: flex;
}

.bottomnav li a {
    text-decoration: none;
    color: grey;
    font-size: 28px;
}

.hamburger {
    
}